@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1>Add a new Machine</h1>

<hr>

@using (Html.BeginForm())
{
  <p>@Html.Label("Enter Machine Name:")
  @Html.TextBoxFor(model => model.MachineName, new { @required="required" })</p>

  <p>@Html.Label("Check Box if this Machine is currently operational:")
  @Html.CheckBoxFor(model => model.IsOperational)</p>
  
  <input type="submit" value="Add new machine" class="btn btn-default">
}
<p>@Html.ActionLink("Back to all Machines", "Index")</p>