@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Engineer Details: @Html.DisplayFor(model => model.FullName)</h1>
<hr />
<p>@Html.DisplayFor(model => model.LastName), @Html.DisplayFor(model => model.FirstName)</p>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This engineer is not currently licensed to repair any machines</p>
}
else
{
  <p>Machines this engineer is licensed to repair:</p>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Machine.MachineName</li>
    @using (Html.BeginForm("DeleteMachine", "Engineers"))
    {
      @Html.Hidden("joinId", @join.EngineerMachineId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

<p>@Html.ActionLink("Register Machine for this Engineer", "AddMachine", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Back to all engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>